[2015-09-22 17:51] ffxsam opened #1 "Do subscription inside App component"
Nice job on the tutorial, this'll be really helpful for people just getting started with Meteor who want to use React.

One thing: isn't it a more efficient model to put the `Meteor.subscribe` call within `getMeteorData`? I've made a couple changes to `App.jsx`: https://gist.github.com/ffxsam/a93b22d42e48105a8d99

[2015-09-22 18:26] stubailo commented on #1
I don't think it's "more efficient", but it could be a better model for people to learn through the tutorial. I'll look into it!

[2015-09-22 18:26] stubailo commented on #1
Thanks for the code sample, it looks really good!

[2015-09-22 18:28] ffxsam commented on #1
"Efficient" isn't the right word.. maybe just better practice? Putting the subscribe in the component is akin to using `Template.subscribe` in Blaze. I know the tutorial is super small and there's probably no problem putting the subscribe statement outside the component, but it's a good habit to get into I think. :) Cheers!

[2015-09-22 18:30] stubailo commented on #1
Yep, I think it would be good for the tutorial to represent as much as possible a good starting point for building a more complicated app!

[2015-10-06 06:31] josoroma-zz opened #3 "Just Giving Structure, Flow Route and React Layout to the Simple Todos React Tutorial"
https://github.com/josoroma/Meteor-React-Experiment/blob/master/lib/router.js

Kudos!

[2015-11-02 15:21] andreyluiz opened #4 "Getting warning of same key children in App.jsx"
Guys, I got stuck with a warning in the Chrome's console:

[code]

With a further reading (and the message is straightforward), I found out that some of the key were duplicated. And its why Chrome is screaming for. But look at the code:

[code]

For me, its actually simple to understand that the code is doing the right stuff. Or I'm missing a very small detail.

Am I doing something wrong?

Thank'

[2015-11-08 23:32] andreyluiz commented on #4
It works now. I just created the project again. I just don't know what happened.

[2015-11-08 23:32] #4 closed, assigned to nobody

[2015-11-10 08:06] AnnotatedJS opened #5 "simple-todos-react not working in windows environment"
I downloaded the zip file and tried to run it on my pc. It gave an error.
And a suggestion to update it.
The update gave also an error.

I tried to attach file with log but that was not allowed.
# Therefore a copy and paste of the log below.

Microsoft Windows [Version 6.3.9600](c) 2013 Microsoft Corporation. All rights reserved.

C:\Users\René>d:

D:>cd simple-todos-react-master

D:\simple-todos-

[2015-11-11 05:49] herpdederp commented on #5
Same here tried "meteor update" got more errors

[2015-11-16 19:05] Remownz opened #6 "meteor-platform deprecated"
The package meteor-platform is marked as deprecated. Which packages should be used instead?

[2015-11-16 21:49] stubailo commented on #6
See this document: https://meteor.quip.com/RXFlAk9Rc2xI

Ctrl-F for 'meteor-platform' to find the relevant section.

We should update this tutorial app!

[2015-12-04 23:42] mdtamjeed commented on #5
Is this resolved? I am experiencing the same setback.

[2015-12-04 23:51] mdtamjeed commented on #5
meteor remove react
and then
meteor add react
Solves the issue. Strange, but it worked!

[2015-12-05 00:00] stubailo commented on #5
Ah this must be because the example app is outdated. We should improve that. You might also have been able to fix it via `meteor update`.

[2015-12-05 12:23] mdtamjeed commented on #5
as commented by @herpdederp , it did get worse

[2015-12-08 16:40] JohnAllen opened #8 "HTML file contents unclear and discrepant"
The following code found  [here](https://www.meteor.com/tutorials/react/forms-and-events) is unclear.  Where does it come from?  The last version of the code in the tutorial's html file was very different.

It went from

[code]

to

[code]

[2015-12-08 16:47] JohnAllen opened #9 "Tutorial uses deprecated method: "React.render is deprecated""
`React.render is deprecated. Please use ReactDOM.render from require('react-dom') instead.`

[2015-12-08 17:32] JohnAllen commented on #9
PR submitted: https://github.com/meteor/simple-todos-react/pull/7

[2015-12-08 17:38] #8 closed, assigned to nobody

[2015-12-08 17:38] JohnAllen commented on #8
was in the wrong file.  My bad.

[2016-02-01 16:35] bmatto opened #15 "react is not in packages"
After running `meteor create simple-todos-react` the .meteor/packages file did have the react package in it.

[2016-02-01 18:28] stubailo commented on #15
Yes, the first step of the relevant tutorial shows you how to add that package: https://www.meteor.com/tutorials/react/components

[2016-02-01 18:28] #15 closed, assigned to nobody

[2016-02-01 19:13] bmatto commented on #15
... of course it does :)

[2016-02-05 20:37] iruslani opened #18 "React Components tutorial not working"
I installed meteor, added react and trying to do the components tutorial but not able to proceed after copying the code in the tutorial. This is the message:

w20160205-12:33:54.289(-8)? (STDERR)
W20160205-12:33:54.290(-8)? (STDERR) /Users/Iwan/Documents/Demo/MeteorSportup/.meteor/local/build/programs/server/app/MeteorSportup.js:14
W20160205-12:33:54.290(-8)? (STDERR)     React.render(<App />, doc

[2016-02-05 20:43] iruslani commented on #18
Ok NM, found out the issue I had originally started with regular tutorial and added react but I didn't rename my starter JS file to JSX.

[2016-02-05 23:43] stubailo commented on #18
Great, glad it got figured out!

[2016-02-05 23:43] #18 closed, assigned to nobody

[2016-02-06 05:25] nsfinkelstein opened #19 "In step 4, using findDOMNode is unnecessary, misleading and bad practice"
The same could just as easily be accomplished by accessing the ref directly, which does not break the component abstraction, e.g.

[code]

I understand you've decided not to take pull requests to the code because you've linked the code in the various steps to particular commits (though rebasing and updating those links should not take too long), so I'll open this issue in case this changes in the

[2016-02-23 20:44] pechitook commented on #5
This error just happened to me, both on this repo and on sample-todos-angular, under OSX. Effectively, `meteor remove angular && meteor add angular && meteor update` solved the error I was getting, which was `angular is not defined`.

Simply cloning and running `meteor` is not working, maybe running a meteor update on the repo and committing the new versions can fix this.

[2016-03-30 13:31] Obiwarn opened #20 "Still using mixin?"
Text from React simple todo:

react-addons-pure-render-mixin:

[2016-03-30 16:24] stubailo commented on #20
https://facebook.github.io/react/docs/pure-render-mixin.html

This is an internal implementation detail of createContainer, nothing to worry about.

[2016-03-30 16:24] #20 closed, assigned to nobody

[2016-04-02 17:21] andersr opened #21 "Step 9.2: Add methods for add, remove, update task - missing instructions to install the check package"
On this page: https://www.meteor.com/tutorials/react/security-with-methods
I do not see any instructions for installing the check package

If I do not install it, I get this error:

[code]

After doing `meteor add check` the error goes away and everything works as expected.

[2016-04-03 22:30] mpkliewer commented on #21
There is a line from the tutorial about importing from "meteor/check" (line 3)

[code]

It worked for me as an included Meteor package, rather than having to manually add it.

[2016-04-04 06:43] stubailo commented on #21
Yep. Although arguably this is a bug that this works without adding `check` explicitly.

[2016-04-04 06:43] #21 closed, assigned to nobody

[2016-04-07 00:21] mpkliewer opened #23 "Alternate method for Blaze template in React component (from new 1.3 Guide)"
Tutorial can at some point be updated with new Guide info regarding creating a React wrapper for Blaze templates:

http://guide.meteor.com/react.html#blaze-in-react

It recommends using this package:
 https://github.com/gadicc/meteor-blaze-react-component

Then (in [Step 8.3)](https://github.com/meteor/simple-todos-react/commit/aa6a33ec1a5c203a62ac0c7459ebb378f70bfc81) you can replace:

`<Accounts

[2016-04-07 18:41] lancefb opened #24 "Simple typo on first page of the tutorials"
Shouldn't the second sentence under "ES2015 JavaScript features" read:

"This is **because** Meteor ships by default with support  ... "

instead of:

"This is Meteor ships by default with support  ..."

[2016-04-16 03:04] jonescr3 opened #27 "typo: misspelled hierarchy"
Just after Step 3.2

To use data from a Meteor collection inside a React component, we can use a Atmosphere package react-meteor-data which allows us to create a "data container" to feed Meteor's reactive data into React's component **heirarchy**.

[2016-05-05 15:25] josephgodwinkimani opened #29 "App crashing after modifying App component in App.jsx to get tasks from mongo collection"
I followed the Todo App with React  tutorial in [meteor.js website](https://www.meteor.com/tutorials/react/collections) and got my app crashing due to gap in line 15 to 27 which is indicated as _"...some lines skipped..."._ I tried a workaround by deleting

[code]

It is here that now I proceed to create my to-do collection using mongo console :`db.tasks.insert({ text: "Hello world!", createdAt: n

[2016-05-14 17:34] m1kegreene opened #30 "Uncaught Error: Cannot find module 'Task.jsx (Section 2.3 of Meteor React Simple-Todos)"
I've followed the instructions step by step (copy pasted for the entirety) and am having this issue.  The todo list completely disappears off the page and I receive the below error.

Uncaught Error: Cannot find module 'Task.jsx'require (see screenshot)

![screen shot 2016-05-14 at 1 30 36 pm](https://cloud.githubusercontent.com/assets/17833721/15269793/78a80cbc-19d8-11e6-917c-c6c4e6c00f7a.png)

[2016-05-14 19:23] dilipkumar2k6 commented on #30
Can you share your code? I am also following the same however didn't get this error.

[2016-05-14 19:40] m1kegreene commented on #30
I've literally followed the instructions step by step, and start having trouble once i replace the starter html code, and delete **client/main.js** and then create three new files

[2016-05-14 20:03] dilipkumar2k6 commented on #30
For me this is working. If you can simply share your new code inside "client" folder then it may help to understand your issue.

[2016-05-14 21:09] m1kegreene commented on #30
main.jsx -> title name fyi

import React from 'react';
import { Meteor } from 'meteor/meteor';
import { render } from 'react-dom';

import App from './imports/ui/App.jsx';

Meteor.startup(() => {
  render(<App />, document.getElementById('render-target'));
});

[2016-05-14 21:09] m1kegreene commented on #30
imports/ui/App.jsx -> title name fyi

import React, { Component } from 'react';

import Task from './Task.jsx';

// App component - represents the whole app
export default class App extends Component {
  getTasks() {
    return [
      { _id: 1, text: 'This is task 1' },
      { _id: 2, text: 'This is task 2' },
      { _id: 3, text: 'This is task 3' },
    ];
  }

  renderTasks() {
    return thi

[2016-05-14 21:10] m1kegreene commented on #30
imports/ui/Task.jsx -> title name fyi

import React, { Component, PropTypes } from 'react';

// Task component - represents a single todo item
export default class Task extends Component {
  render() {
    return (
      <li>{this.props.task.text}</li>
    );
  }
}

Task.propTypes = {
  // This component gets the task to display through a React prop.
  // We can use propTypes to indicate it is req

[2016-05-14 21:25] dilipkumar2k6 commented on #30
"imports/ui/Task.jpx", is it typo or your real file name? If it is file name then this is the issue. The extension should be "jsx".

[2016-05-14 21:30] m1kegreene commented on #30
Whoops, that was just a typo!

Fixed the issue -> imports needs to be a separate folder within client, and then ui within import. App and Task files need to live within UI

Then within main.jsx the walkthrough lists **import App from '../imports/ui/App.jsx';** as the code when it should be **import App from './imports/ui/App.jsx';**

Is this similar to your code? Appreciate the help!

[2016-05-14 22:42] dilipkumar2k6 commented on #30
Yes :-) I stuck on that issue :-)

[2016-05-15 14:53] #30 closed, assigned to nobody

[2016-05-17 19:20] tmeasday opened #31 "Stop using `ReactDOM.findDOMNode`"
See: https://github.com/meteor/simple-todos-react/commit/864c1a4d6ad581b0f6186f609fc079fa110d0a8d#commitcomment-17462750

[2016-05-17 19:21] stubailo commented on #31
Related: https://github.com/meteor/simple-todos-react/pull/26

[2016-06-18 19:34] ninjasort opened #33 "React throwing warning"
Checkboxes are broken.

[2016-07-16 06:48] Ruegen commented on #33
I'm getting the same error

[2016-07-16 19:56] meyer1994 opened #35 "Add working finished code"
You guys should add a "working completed code" to this.

[2016-07-18 05:39] deepupathak opened #36 "Can not read property map of undefined"
Hello !
In my code, I simply pass mentor props to a component named List. But this props is not accessible in createContainer() method of Component named List. Here is my sample code :-

[code]

Please help me for this issue. thanks in advance !!

[2016-07-19 12:30] #36 closed, assigned to nobody

[2016-08-14 21:04] dmigo opened #39 "AccountsUIWrapper is not defined after "Adding user accounts" step"
After going through "Adding user accounts" step can't get rid of `Uncaught ReferenceError: AccountsUIWrapper is not defined` exception in the browser.

Have found out that it might be connected with the version of Meteor (mine was 1.3), but it didn't go away after update. What am I missing?

[2016-08-15 20:33] dmigo commented on #39
Works now! Just removed all local files.

[2016-08-15 20:33] #39 closed, assigned to nobody

[2016-08-18 17:01] jaredabel commented on #29
I had the same issue, not sure why the tutorial would have
...some lines skipped
As the missing 10 lines of code end up remaining rather cryptic since line numbers aren't absolute
Below is the full file as it should be at the end of Section 3
[code]

[2016-08-23 15:18] andrewlorenz commented on #33
the issue comes from the fact that tasks are created without a property for 'checked', and the problem comes with this line:

`<input type="checkbox" readOnly checked={this.props.task.checked} onClick={this.toggleChecked.bind(this)} />`

React objects to this.props.task.checked not resolving to an absolute true or false.

It can be fixed by either:

a) setting another variable to true/false:
`cons

[2016-08-25 06:41] ghost opened #40 "Can't run simple-todos-react"
I ran `git clone https://github.com/meteor/simple-todos-react.git`.
Then I did `cd simple-todos-react` and then `meteor npm install`.
It gives no errors while installing.
When I run `meteor` it shows downloading meteor tool and ends up with this error:

[code]

This also happens every time when I run `meteor update`.So I can't update my project
I tried this on Windows and Ubuntu, It's same on both

[2016-09-02 07:41] brozermanik opened #41 "Unable to resolve"
Unable to resolve some modules:

  "../imports/api/tasks.js" in /home/******/react_td/server/main.js
(os.linux.x86_64)

Was doing according to tutorial, then thought it was my mistake and used git clone - same result.

OS: Ubuntu 16.04
nodejs 6.5.0/node 6.4.0

[2016-09-04 22:01] #41 closed, assigned to nobody

[2016-09-10 15:55] andrewlintz commented on #29
I'm experiencing same issue with meteor 1.4.1 install.
Specifically occurs between Tutorial Module: 3.1, 3.2, 3.4.

 It's >Unable to resolve some modules:  "../api/tasks.js" in  /imports/ui/App.jsx &  "../imports/api/tasks.js" in  /server/main.js

I've included the error message from OSX's terminal below.

[2016-10-04 20:54] Phelanlewis commented on #29
I am having the same problem.

[2016-10-07 01:44] soyJSus opened #43 "less"
which would place the folder style?

[2016-10-31 03:30] SachaG opened #44 "App still depends on blaze-html-templates"
https://github.com/meteor/simple-todos-react/blob/master/.meteor/packages#L10

Maybe this could be replaced with the `static-html` package instead?

[2016-10-31 04:28] stubailo commented on #44
We didn't do it in the tutorial because there's a section about accounts-ui in there.

[2016-10-31 04:31] SachaG commented on #44
Oh right. I guess this would have to be done along with a switch to https://github.com/studiointeract/accounts-ui then?

[2016-10-31 06:21] stubailo commented on #44
Yeah, I think that could be a good way to go. I guess we'll need to restyle it as well.

[2016-11-13 11:16] orenfromberg commented on #31
also related #45

[2016-11-15 19:12] PierreGallet opened #46 "React Router does not work with CreateContainer"
Hello,

I've been trying to add react router to the simple todos architecture, but i came across an issue when i try to use this.props.children in the render() method of my App class. when I do a console.log, it says this.props.children is null, whereas i have this structure for react router

[code]

As in the tutorial, i use createcontainer to create appcontainer for app component.
It looks like

[2016-11-15 19:41] PierreGallet commented on #46
Found the solution : I needed to import my component without {} in my routes.jsx files.

[code]

and not:

[code]

[2016-11-15 19:41] #46 closed, assigned to nobody

[2016-12-06 13:37] BernardoFBBraga commented on #33
@andrewlorenz thanks for that, I also think (b) is the best option.
I think the tutorial should be updated to include this property in the insert function and avoid the warning

[2017-01-02 04:13] jerrycychen commented on #29
I just pulled my old simple-todos repo from 2015 down to my new MacBook yesterday to update it to React framework. But I encountered the same issue where the todo list app on localhost:3000 wasn't showing anything with just styling in place after I entered

`db.tasks.insert({ text: "Hello world!", createdAt: new Date() });`

to the mongo console. So then I decided to proceed to adding a form like

[2017-01-27 16:49] midnightcodr commented on #30
For me I have to use the following line in imports/ui/App.jsx for the demo to work:

`import Task from './Task';`

Note I am using exactly the same structure as the tutorial - imports/ lives as a sibling to client/, not as a child.

OS: Mac OSX 10.11
Meteor: 1.4.2.3
node: v6.9.2
npm: 4.1.2

[2017-01-27 23:44] aspiringpro opened #49 "Not displaying"
I just followed the first steps of the tutorial. I am using C9.io online IDE.  When I go to run meteor, I get no errors but just a blank page appears in the browser.

[2017-01-27 23:58] #49 closed, assigned to nobody

[2017-02-18 09:52] boyvanduuren commented on #33
I just ran into this as well, and intuitively went with option B. Any chance of getting this updated?

[2017-02-18 11:51] andrewlorenz commented on #33
I would submit a PR if it wasn't for the fact there are already 8 outstanding and haven't been touched in the last 6-8 months!

[2017-02-28 19:33] zeroasterisk opened #50 "Idea: remove jquery"
Now that we are using React for UI, could we remove the dependency on `jquery`?  I looked through the meteor codebase for it's usage and it was mostly in deprecated packages.

I tried removing the package, but of course, it's still in `.meteor/versions`

Any idea what the scope of that might be?  It could conceivably be a significant savings in payload sent to the client.

[2017-03-01 05:21] stubailo commented on #50
I think the only thing that caused a jQuery dependency would have been `http`. In Meteor 1.5 the bare app skeleton won't have jQuery at all: https://github.com/meteor/meteor/pull/8388

Did you try removing the blaze and accounts UI packages as well?

[2017-03-01 11:35] giovanileite commented on #33
thanks @andrewlorenz

[2017-03-07 15:34] #35 closed, assigned to nobody

[2017-03-21 17:20] abernix commented on #40
Thanks for reporting this.  This was actually a legit Meteor error at the time.  See https://github.com/meteor/meteor/issues/7806 for the resolution (no actual work is necessary, but you should update your Meteor).  This should be resolved now, so closing.  Happy to reopen if this is not the case! :)

[2017-03-21 17:20] #40 closed, assigned to nobody

[2017-03-21 18:36] abernix commented on #24
Thanks!  This was fixed with https://github.com/meteor/tutorials/commit/9a9c329336afcbaa2073ab4a38456b024de76057 and visible at https://meteor.com/tutorials/react/!

[2017-03-21 18:36] #24 closed, assigned to nobody

[2017-03-21 18:39] abernix commented on #27
Thanks!  Looks like this was fixed with https://github.com/meteor/tutorials/commit/9b917ce2aac607c512c2f1e6689800840082f208 on the [`tutorials` repo](https://github.com/meteor/tutorials/) (where that text actually lives).  It's live now. :smile:

[2017-03-21 18:39] #27 closed, assigned to nobody

[2017-03-21 18:40] abernix commented on #43
These can go at the same place as `.css` files, but check the [Structure section](https://guide.meteor.com/structure.html) of the Meteor Guide for more specifics!  (This is just the tutorial, not the full docs).

[2017-03-21 18:40] #43 closed, assigned to nobody

[2017-03-31 19:10] surjithctly commented on #30
I have also got the same issue. Followed everything literally and got the error when used

`import Task from './Task.jsx';`

But its fixed now when I changed to this:

`import Task from '/imports/ui/Task.jsx';`

**No idea why the first code did not work.**

The Folder layout was:

[code]

[2017-04-13 11:42] albertovilla opened #51 "Migrating from React.PropTypes"
Importing `PropTypes` from React is now deprecated. The following line in both `App.jsx` and `Task.jsx` needs to be changed:

`import React, { Component, PropTypes } from 'react';`

New line should be:

`import React, { Component } from 'react';`
`import PropTypes from 'prop-types';`

On top of that the `prop-types` package needs to be imported with `npm i prop-types`

[2017-05-05 10:34] pilarArr opened #53 "Web not working correctly"
I started following the react tutorial yesterday, today the web doesn't work. I load the first page, **Creating an app**, and when I click next or components in the side bar it doesn't load, the only other tab that loads is **Running on Mobile**

[2017-05-05 10:36] #53 closed, assigned to nobody

[2017-05-05 10:36] pilarArr commented on #53
Sorry, I got the wrong repo

[2017-05-07 14:38] kevinschaich commented on #19
I also commented this on PR #26, but I'll leave it here as well:

In the next release of tutorials, I don't think this is the correct "React" way to do things. I think there should be some state here like `this.state.newTodoValue` or something similar that should be updated on the change event of the text box:

[code]

and in the Render method:

[code]

See the [Controlled Components section](http

[2017-05-30 15:09] danilopaez commented on #31
Also related #54 .Avoid ref

[2017-07-09 13:56] spacechimplives commented on #30
I'm having the same issue but neither of your fixes worked for me

[2017-07-18 08:06] koyanoa opened #55 "Page remaining blank after adding App.jsx and Task.jsx"
Hi, I'm following this [tutorial](https://www.meteor.com/tutorials/react/components) and while the page was loading correctly at first, it remains blank after adding the App and Task component. When I open the debuggin (meteor debug, http://localhost:8080/?port=5858, on safari) I get this error message:
![screen shot 2017-07-18 at 10 05 23](https://user-images.githubusercontent.com/10214037/283067

[2017-07-18 14:01] koyanoa commented on #55
Issue solved, I just rebooted my computer, installed everything again and it worked... never mind!

[2017-07-18 14:01] #55 closed, assigned to nobody

[2017-08-29 02:56] TylerL-uxai commented on #3
Thank you so much! Spent all night looking for tutorials on how to add react routing to my app

[2017-09-04 17:08] bplus commented on #23
Thanks for opening this issue - it helped me a lot.

[2017-09-04 17:12] bplus opened #57 "Is this tutorial currently without a maintainer?"
Hello,

First, I want to say thanks for the tutorial.  It's been very helpful.  I have run into a few things that I see are fixed/covered in the open issues on this repo.  Is there currently anyone with write access who is able to update and maintain this tutorial?  I'm new to react as well as meteor, but I'd be happy to help if I can.  It's a very good resource and it would be a pity if it got to

[2017-09-04 17:30] abernix commented on #57
Thank you for offering!  I'll admit some of the pull requests and issues have been neglected by, well, mainly me.   This is mostly because of a lack of time to fully triage the problems, which have frequently been false positives in some cases (though admittedly, this in and of itself points to some problems in the tutorials).

If you have time to validate existing pull-requests and issues, this w

[2017-09-04 17:32] abernix commented on #57
(I guess it's worth pointing out that this repo is a sub-module of https://github.com/meteor/tutorials, though this is arguably the most important right now.  Also, my React is dusty.)

[2017-09-04 17:39] bplus commented on #57
Sounds good.  I'm working on finishing up the tutorial today, and will verify pull requests over the next week.  Thanks for the quick response!

[2017-09-04 18:04] abernix commented on #57
Thanks in advance for your assistance!

[2017-09-27 02:39] AnshulBasia commented on #49
How did you solve it ??

[2017-10-15 20:15] lukaesch commented on #51
Thanks a lot @albertovilla.
Currently, you can not complete the Meteor ToDo-List tutorial if you don't import PropTypes as described in your comment.

[2017-11-03 10:55] ahoffmeyer commented on #30
Meteor seems to work with react v0.14 only. So just change the react version within you package.json file to 0.14.9 and it works.

[2017-11-10 17:50] iainhallam opened #59 "Warning: createContainer was deprecated in react-meteor-data@0.2.13. Use withTracker instead."
When running the simple-todos-react tutorial, I get this error in the browser console:

[code]

Further info at https://github.com/meteor/react-packages/tree/devel/packages/react-meteor-data#usage

[2017-11-22 15:58] hwillson commented on #59
This has been updated - a new version will be published shortly. Thanks!

[2017-11-22 15:58] #59 closed, assigned to nobody

[2017-11-22 15:59] hwillson commented on #57
New updates to this tutorial have been completed, and will be published soon. It is being maintained - thanks!

[2017-11-22 15:59] #57 closed, assigned to nobody

[2017-11-22 16:00] hwillson commented on #51
We've decided to remove `PropTypes` from the tutorial completely. A new version will be published shortly - thanks!

[2017-11-22 16:00] #51 closed, assigned to nobody

[2017-11-22 17:28] hwillson commented on #50
The jQuery dependency has been removed - thanks!

[2017-11-22 17:28] #50 closed, assigned to nobody

[2017-11-22 17:30] hwillson commented on #33
This has been fixed - a new version of the tutorial will be published shortly. Thanks!

[2017-11-22 17:30] #33 closed, assigned to nobody

[2017-11-22 17:34] hwillson commented on #29
A new version of the React tutorial will be published shortly. If you continue to have problems, please let us know. Thanks!

[2017-11-22 17:34] #29 closed, assigned to nobody

[2017-11-22 17:35] hwillson commented on #9
This has been fixed - a new version of the tutorial will be published shortly. Thanks!

[2017-11-22 17:35] #9 closed, assigned to nobody

[2017-11-22 17:36] hwillson commented on #6
This has been fixed - a new version of the tutorial will be published shortly. Thanks!

[2017-11-22 17:36] #6 closed, assigned to nobody

[2017-11-22 17:36] hwillson commented on #5
A new version of the tutorial will be published shortly. Please try things out and post back if you're still encountering this problem. Thanks!

[2017-11-22 17:36] #5 closed, assigned to nobody

[2017-11-22 17:38] hwillson commented on #3
Marking this as a feature request - we should consider replacing `FlowRouter` with `react-router`.

[2017-11-22 17:41] hwillson commented on #1
`Meteor.subscribe` now happens within the newer `withTracker` based HOC, so closing this off - thanks!

[2017-11-22 17:41] #1 closed, assigned to nobody

[2018-01-27 08:14] hassan-me opened #61 "Step 3 (Collection) is broken on running `meteor add react-meteor-data`"
I have been playing around with todo-react tutorial of meteor. It seems the tutorial is broken at Step 3. Everything works till `meteor add react-meteor-data`

It gives the following error

`
Uncaught TypeError: Cannot read property 'forEach' of undefined
    at checkNpmVersions (check-npm-versions.js:25)
    at react-meteor-data.jsx (react-meteor-data.jsx:3)
    at fileEvaluate (modules-runtime.j

[2018-01-27 12:33] hwillson commented on #61
Hi @hassan-me - this is a known issue with the `react-meteor-data` package, and has been fixed in https://github.com/meteor/react-packages/pull/247. We'll have a new version published soon, at which point you'll be able to run `meteor update react-meteor-data` to fix the issue. I'll post back when the new version is ready. Thanks, and sorry for the inconvenience!

[2018-01-31 10:13] abernix commented on #61
This should be resolved with the latest fix to `react-meteor-data`, which has been published in `react-meteor-data@0.2.16`.  Please try again and let us know if the problem is resolved.

And thank you so much for raising this issue in the first place—it truly helps!

[2018-01-31 10:13] #61 closed, assigned to nobody

[2018-02-15 09:43] Shelagh-Lewins opened #62 "Tests shouldn't use arrow function definitions according to"
The example tests in the React tutorial [simple todos](https://www.meteor.com/tutorials/react/testing) and the todos project example use arrow function in all test definitions, like this:

[code]

However the Meteor guide says:

"Note that arrow function use with Mocha is discouraged."

https://guide.meteor.com/testing.html#test-files
http://mochajs.org/#arrow-functions

and shows an example like

[2018-02-15 09:59] Shelagh-Lewins commented on #62
Note this issue was discussed in 2016:

https://github.com/meteor/guide/issues/318
https://github.com/meteor/guide/pull/323

[2018-02-19 15:11] Shelagh-Lewins commented on #31
The code in Section 8.2 https://www.meteor.com/tutorials/react/adding-user-accounts generates errors relating to use of findDOMNode, this.refs and string literals:

[code]
The following code seems to work and doesn't cause linting errors:

[code]

[2018-02-23 11:52] hassan-me commented on #61
@abernix, @hwillson
Hey guys, just ran it now. Bingo! Its no longer broken :)
Thanks a lot for pushing the fix and sorry for late response.

[2018-02-26 07:32] DanielMcintosh25 commented on #30
Ok make sure the file name is capital "A" for App.js when creating the file and do this for Task.js also.

[2018-03-27 16:35] #19 closed, assigned to nobody

[2018-04-10 15:09] pihentagy opened #64 "There is no check of the owner of the task"
https://github.com/meteor/simple-todos-react/blob/1d57eb3a1b8aa32166295b5c27bbef974e3f2221/imports/api/tasks.js#L24

[2018-05-28 11:02] hwang12345 opened #65 "use renderTasks() can not get data from MongoDB"
![react2](https://user-images.githubusercontent.com/31944125/40611602-849ea6fe-62a9-11e8-99ed-a0be8ef36ef7.png)
![react1](https://user-images.githubusercontent.com/31944125/40611603-84d6caac-62a9-11e8-983a-b6f18a94c3e0.png)
use renderTasks() can not get data from MongoDB，i can not find the reason.

[2018-06-05 00:53] andrew128 opened #66 "Can't run this tutorial (Meteor 1.7 doesn't support?)"
/simple-todos-react (master) $ meteor
[[[[[ ~/Desktop/simple-todos-react ]]]]]

=> Started proxy.

Unable to resolve some modules:

  "@babel/runtime/helpers/interopRequireDefault" in
/simple-todos-react/imports/ui/App.js (web.browser.legacy)
  "@babel/runtime/helpers/inheritsLoose" in
/simple-todos-react/imports/ui/App.js (web.browser.legacy)

If you notice problems related to these missing modul

[2018-06-12 09:50] qile11 commented on #66
mine too, win10_64

prompt:Mongodb does not support filesystems like nfs
that do not allow file locking

[2018-06-24 15:57] jonathanhuet opened #67 "Step 11 Testing documentation issue"
In this step, the goal is to run the tests, but the presence of "meteor.testModule" property in package.json doesn't allow to execute the script as explained in https://guide.meteor.com/testing.html, as it reads only the "tests/main.js" folder, instead of following the pattern based research of test files.

Please explain that the property "meteor.testModule" needs to be removed from package.json

[2018-07-01 19:23] WhoAteDaCake opened #68 "main.js code snippet does not contain html import"
On [Tutorial](https://www.meteor.com/tutorials/react/components) page, the `client/main.js` should be:

[code]
As removing `import "./main.html";` line will cause:

[2018-07-03 21:43] jeansordes commented on #66
I can't run the tutorial either but not with the same errors as you

I'm blocked at `meteor mongo`. I can insert, and when I check with `tasks.find();` it shows me that I successfully inserted new data, but it doesn't show anything in the browser. Tasks seems to be empty. I really don't know why :/

edit : when I simply clone the repo, and then run `meteor` in the folder, it shows the same errors

[2018-07-06 04:25] somratking420 opened #69 "icon for simple todos react"
Hi @meteor , I am a graphic designer, I want to help you in graphic design.

After I review your project, your app is very good. Therefore I suggest a new logo and icon for you. If you want it, I will design it for you and it's free.

[2018-08-10 23:24] LaloMores commented on #67
Thanks for this. I wasn't understanding why that was happening and reading the documentation about testing said exactly that, inside a test folder the tests will be omitted by the driver package. So, I agree this would be a simple and great improve in the document.

[2018-08-15 21:14] brunobl opened #71 "Tutorial not working"
Tutorial doesn't work from this page:
https://www.meteor.com/tutorials/react/components

Compiles and start fine, but
Todo List
This is task 1
This is task 2
This is task 3

doesn't appear.

HTML/CSS code is displayed, but render function isn't called.

[2018-08-16 07:25] ghost commented on #71
Hey @brunobl !

anything in your developer toolbar?

see: https://stackoverflow.com/questions/46527461/meteor-react-tutorial-step-2-did-not-work

[2018-08-20 13:12] madalinignisca commented on #71
From Stack overflow, this has worked:
Try removing Blaze
`meteor remove blaze-html-templates`
And add static-html
`meteor add static-html`
This should be added in the tutorial immediately after creating the project (I think it was at some point when I tried it the first time).
Question: is there a React project skeleton to use with `meteor create` that would have this by default?

[2018-08-23 18:12] PhilippeChab commented on #71
The tutorial tells you to remove a line of code that you absolutly need in order to have the expected result.
You need to keep _import './main.html';_ in main.js.

This needs to be fixed in the tutorial.

[2018-09-04 05:03] Rafael-Menis commented on #71
In fact, keeping import './main.html' breaks the page- you can see this [ in branch Exercise 1](https://github.com/Rafael-Menis/Task-List-from-Meteor-Tutorial/tree/Exercise1) compared to [the fixed branch](https://github.com/Rafael-Menis/Task-List-from-Meteor-Tutorial/tree/Branch-without-jsx), and the same problem happens whether the files are .js (as in [this branch](https://github.com/Rafael-Men

[2018-09-05 03:23] veggie2u commented on #71
The current tutorial code is working fine now. However the remove/add blaze step from madalinignisca is required in order for the react code to work properly.

[2018-09-05 08:31] Rafael-Menis opened #72 "Getting meteor to build in android on windows (Tutorial step 6)"
It is possible to get meteor to build in android on windows. It's difficult, but possible. First, you need to follow the instructions [here](https://medium.com/@borissevo/developing-android-mobile-app-with-meteor-on-windows-7c62e6be7e27). To paraphrase, with points in brackets being outside comments-
Step 1- download and install JDK 1.8.something. [Do not install JDK 10- meteor doesn't work with i

[2018-09-12 08:34] emreozdincer commented on #67
Yes please. It is discouraging having to deal with these small problems in the first official tutorial.

[2018-09-17 03:53] Vashidu opened #73 "issue with meteor add react-meteor-data crashing the app"
As soon as i added react-meteor-data, the app is crashing:

`=> Modified -- restarting.
W20180916-23:51:42.467(-4)? (STDERR) /home/sopleb/.meteor/packages/meteor-tool/.1.7.0_5.r5qyn1.b1gbd++os.linux.x86_64+web.browser+web.browser.legacy+web.cordova/mt-os.linux.x86_64/dev_bundle/server-lib/node_modules/fibers/future.js:280
W20180916-23:51:42.468(-4)? (STDERR)

[2018-09-17 03:54] Vashidu commented on #73
[code]

[2018-09-17 03:59] Vashidu commented on #73
i've stopped the proccess and relaunched meteor and now its not crashing.

[2018-09-17 03:59] #73 closed, assigned to nobody

[2018-10-03 13:35] ConnectedReasoning commented on #71
I agree with PhillippeChab I could not get mine to work until I put import  './main.html' back in main.js

[2018-10-14 21:39] philipmjohnson opened #76 "Tutorial broken under Meteor 1.8"
With the release of Meteor 1.8, it appears that the React Tutorial (https://www.meteor.com/tutorials/react/creating-an-app) is broken.

After creating the app using `meteor create simple-todos`, you must do the following:

[code]

[2018-10-24 02:04] aylanismello commented on #76
was about to make an issue out of this 💯 ty

[2018-11-10 22:20] garfieldnate commented on #65
OP didn't give many details on this issue, but I think I have the same one.

I'm following the React-with-Meteor tutorial here: https://guide.meteor.com/react.html#using-with-meteor. When I get to the part where I insert data into Mongo DB, nothing happens in the app. No errors are given in the browser console, and nothing is printed in the terminal. It just does nothing.

I'm uploading my simple-

[2018-11-12 06:09] yinlianghui opened #85 "TypeError: _extends is not a function"
Throw error when i just run the project with 'meteor'.
![image](https://user-images.githubusercontent.com/6219465/48329625-89fe0e00-e684-11e8-8e57-8440949e3fe6.png)

[2018-11-12 06:31] yinlianghui commented on #76
it just throw error about:'TypeError: _extends is not a function'.
![image](https://user-images.githubusercontent.com/6219465/48330502-b23b3c00-e687-11e8-8fe6-16952e7ce368.png)

[2018-11-23 23:58] chbrandt commented on #76
Yes, or --the solution I applied, after [this post](https://forums.meteor.com/t/meteor-html-file-compilation-issue-uncaught-error-target-container-is-not-a-dom-element/44405/5)-- insert
[code]
at the top of your `client/main.js`.

I'm playing with the _Todo List_ app.

[2018-12-03 00:00] chidimo commented on #72
It worked for me. Yay!!!!!!!!!!!!!!!

[2018-12-11 01:52] chidimo commented on #71
Spent hours on this tonight. Here's what I eventually did that fixed it

1. I removed blaze `meteor remove blaze-html-templates`
1. Add static html `meteor add static-html`. Not doing this results in `Uncaught Error: Target container is not a DOM element.`
1. Change `Task.jsx` so that it becomes and in `App.js` change the import statement to `import Task from './Task.jsx';`.

[code]

[2018-12-11 15:15] brunobl commented on #71
I don't know if someone from Meteor is reading github issues or caring about fixing issues... How do they hope to attract customers if tutorials don't work? This doesn't look good for Meteor's future...

[2018-12-12 20:10] undraatb commented on #76
I do confirm that it was required to add `import './main.html';` to `client/main.js`.

[2018-12-16 18:03] slowreader87 commented on #76
wish i'd read this before trying 3 times from scratch! Works for me too. Thanks!

[2018-12-27 20:45] OBe95 commented on #68
+1
I was at the [Component](https://www.meteor.com/tutorials/react/components) part and inspecting the resulting page: without the `main.html` import, the page did not contain the `div` element; however changing the `title` tag content impacts the result!

[2019-01-05 06:23] elDudarino commented on #71
1000% percent, new to this and was about to give up when trying out their OFFICIAL tutorial didn't work. Thankful that I found this after HOURS spent pulling my hair. It's baffling. THANK for the responses here, you've helped me but I am not very confident I won't encounter VERY frustrating issues ahead if even the 101 into tutorial doesn't work. Again shout out to all the helpful answers in this

[2019-01-06 02:54] benjamn commented on #71
Hi folks, sorry for the long delay on this.

I spent some time today updating the React tutorial. Although the updates involved some significant changes to this repository, you might not notice the changes just by running the `simple-todos-react` app, since it looks/works the same as before.

If you would like to give the new tutorial a look, I would be grateful for any feedback. We will probably

[2019-01-06 03:02] benjamn commented on #76
I've updated this repository to Meteor 1.8.0.1, and will soon push a new version of the React tutorial to meteor.com. If you'd like to help review the changes, please refer to this comment: https://github.com/meteor/simple-todos-react/issues/71#issuecomment-451710776

Thanks for your patience!

[2019-01-06 03:02] #76 closed, assigned to benjamn

[2019-01-06 03:04] benjamn commented on #68
This is fixed in the latest `master` version, though I took a slightly different approach of replacing the `blaze-html-templates` package with `static-html`, which also solves the problem.

If you'd like to help review the latest tutorial content, please refer to this comment: https://github.com/meteor/simple-todos-react/issues/71#issuecomment-451710776

Thanks for your patience!

[2019-01-06 03:04] #68 closed, assigned to benjamn

[2019-01-06 03:05] benjamn commented on #44
This is fixed on `master` thanks to https://github.com/meteor/simple-todos-react/commit/baa139e8ea349394f630c81374a4fc576aff389f.

Please note that we rewrite the history of this repository pretty drastically whenever we change the earlier steps, so I wouldn't recommend rebasing an old checkout. Just clone it again.

[2019-01-06 03:05] #44 closed, assigned to benjamn

[2019-01-07 17:21] benjamn commented on #71
This should be fixed now! https://www.meteor.com/tutorials/react/components

[2019-01-07 17:21] #71 closed, assigned to benjamn

[2019-01-07 17:25] benjamn commented on #67
This should be fixed now, though you will need to update to Meteor 1.8.0.2, due to a bug in previous versions of Meteor that sometimes prevented the `meteor.testModule` from importing other test modules. Sorry for the confusion. Please feel free to reopen this issue (or open a new issue) if you encounter any other problems with this part of the tutorial.

[2019-01-07 17:25] #67 closed, assigned to benjamn

[2019-01-07 17:30] benjamn commented on #66
Unlike running `meteor create`, when you clone a Meteor application using `git`, you need to run `meteor npm install` to install npm dependencies like `@babel/runtime`. See the [**In a hurry?** section](https://www.meteor.com/tutorials/react/components) of the React tutorial for full instructions.

As for the Mongo issue, that's something else, though it's possible that more recent versions of Met

[2019-01-07 17:32] benjamn commented on #85
Please try again with the latest version of Meteor, 1.8.0.2:
[code]
If that doesn't work, feel free to reopen this issue. Thanks!

[2019-01-07 17:32] #85 closed, assigned to nobody

[2019-01-07 17:34] benjamn commented on #69
Thanks for the offer @somratking420, but I think we'd like to keep the tutorial as simple as possible, and downloading/adding an icon as part of the tutorial seems like more extra steps than it's worth, if the goal is just to teach folks the basics of Meteor.

[2019-01-07 17:34] #69 closed, assigned to nobody

[2019-01-23 01:53] lindacharlton opened #86 "Simple-todo app react"

[2019-01-23 01:56] lindacharlton commented on #86
I cannot get my tasks to show up that I put into the form.

[2019-01-28 10:20] DonFabiolas opened #87 "Why client/main.jsx intead of client/main.js at installation : meteor create --react new-react-app ?"
Hi,

Why client/main.jsx intead of client/main.js at installation : meteor create --react new-react-app ?

I don't know if this link can help : https://github.com/facebook/create-react-app/issues/87#issuecomment-234627904

Thank you

[2019-02-23 11:39] blackslate opened #88 "Tutorial — Inserting tasks from the server-side database console — browser does not update"
The following instructions on [the tutorial page](https://www.meteor.com/tutorials/react/collections) have no effect:

---

**Inserting tasks from the server-side database console**
Items inside collections are called documents. Let's use the server database console to insert some documents into our collection. While your app is running, in a new terminal tab, go to your app directory and type:

`

[2019-02-23 11:41] blackslate opened #89 "Meteor-React tutorial: missing step to install Babel package"
I'm following the official [Todo App with React tutorial](https://www.meteor.com/tutorials/react/components). If I follow the steps exactly, after step 2.5, I get an error:

    => Exited with code: 1

    Unable to resolve some modules:

      "@babel/runtime/helpers/interopRequireDefault" in
    /.../todos/imports/ui/App.js (web.browser.legacy)
      "@babel/runtime/helpers/inheritsLoose" in

[2019-02-23 12:24] blackslate commented on #88
The reason is that in Meteor 1.8.0.2, the scripts inside the `imports` folder are not being run on the server at startup. Adding 1 line to the file at `.../todos/server/main.js` solved the problem:

[code]

[2019-07-06 05:24] jeffslofish commented on #73
I ran into the same issue. I believe that something should be said in the tutorial at this step that it might crash and need to be restarted.

[2019-07-06 05:33] jeffslofish opened #90 ""meteor add react-meteor-data" crashes app"
Related to #73 and #61 .

It added version 0.2.16 according to the command line output, which according to #61 should have fixed the issue:

[code]

however, I took a peek in `.meteor/packages` and it just listed `react-meteor-data` with no version. I'm not sure if that matters, but I thought I would mention it.

[2019-11-27 19:20] kakadais commented on #90
I've got simmilar issue and solved by update some npm packages.

"react": "^16.8.6",
"react-dom": "^16.12.0"

And you can see your specific meteor package version in ./meteor/versions file.

[2019-12-02 16:33] nilsonmolina commented on #88
Thank you so much! This fixed my issue for [the blaze tutorial page](https://www.meteor.com/tutorials/blaze/collections) as well. This should really be added to the documentation pages!

[2019-12-12 18:23] filipenevola commented on #88
Tutorials are already updated.

[2019-12-12 18:23] #88 closed, assigned to nobody

[2019-12-20 20:52] JonahGroendal opened #92 "React errors in console"
after running
[code]
then navigating to localhost:3000, The page doesn't load and in the console there are errors.

warnings in the console:
react-meteor-data 2.x requires React version >= 16.8.

errors in console:
Uncaught TypeError: useRef is not a function
    at useTrackerClient (useTracker.js:108)
    at useTracker.js:206
    at withTracker.jsx:10
    at updateForwardRef (modules.js?hash=d0ac

[2019-12-22 16:21] MarcelWaldvogel commented on #64
This is in step 10.12 (dcc14bad5)

[2020-01-03 21:54] copleykj commented on #92
This is caused by the newest updates to the `react-meteor-data` package not being compatible with the version of react installed when you ran `npm install` after cloning. If you run `npm update react react-dom`, then everything will work again.

[2020-01-16 07:23] marc-85 opened #93 "imports account-config.js in main.jsx"
Hello,

I am new to meteor and I am following the simple-todo tutorial. Everything is working fine until I import the accounts-config.js in main.jsx

If I comment the line out, the whole thing starts working again.

Any ideas why this might be happening?
I am running meteor on an ubuntu 19.04

Many thanks in advance.

[2020-01-21 12:41] MohammadSabbagh commented on #92
meteor npm update react react-dom

[2020-02-01 14:45] MonilShiv commented on #90
Installing jQuery solved the problem for me
Use following command to install jQuery
`meteor npm install jquery`

[2020-02-11 02:14] FrancoisYu commented on #92
It's 2020/02/11. I still got the same error message after running: meteor npm update react react-dom.
My meteor version is 1.8.1.
Is this tutorial's Meteor has to be < 1.8.0?

[2020-02-11 02:16] FrancoisYu commented on #93
I've the same problem after import the accounts-ui. My platform is Mac Catalina and my meteor is 1.9.0.

[2020-02-11 02:57] FrancoisYu commented on #93
Got the error msg solved. All you have to do is install the jquery into Meteor and npm with the following command:

meteor add jquery
meteor npm install --save jquery

[2020-02-11 02:58] FrancoisYu commented on #92
Got the error msg solved. All you have to do is install the jquery into Meteor and npm with the following command:

meteor add jquery
meteor npm install --save jquery

[2020-02-11 09:47] marc-85 commented on #93
This seems to work. Thank you very much!

[2020-02-11 09:47] #93 closed, assigned to nobody

[2020-02-17 14:05] jankapunkt opened #94 "tortilla-master CSS is missing"
When cloning and running the app, I can't get a proper css loaded. I also get a `The script has an unsupported MIME type ('text/html').` error:

<img width="1280" alt="Bildschirmfoto 2020-02-17 um 15 01 02" src="https://user-images.githubusercontent.com/1135285/74660512-8cf48200-5196-11ea-9e47-1866adbc95b4.png">

System: MacOS 10.14.6, Chome 77.0.3865.120 64Bit, as well as in FireFox 72.0.2, same

[2020-05-13 23:53] adamUpchurch commented on #71
I'm having issues with this tutorial too. If an element is a 'React.Component' then it does not render. If it is a functional component, then it's good to go. Has anyone else run into this or am I just stupid? lol

I can't even get Hello world. lol

main.js
[code]
app.js
[code]

[code]

[2020-05-31 23:43] Lessvn commented on #92
I had the same problem. Similar to FancoisYU,  what I did to solve:
meteor add jquery

meteor npm install --save jquery

[2020-06-01 02:53] #92 closed, assigned to nobody

[2020-06-03 16:02] Radizzt commented on #71
@adamUpchurch I found out the issue. its the import line in your main.js `import { App } from '/imports/ui/App';` change it to `import  App  from '/imports/ui/App';`. You're importing a "name export" instead of a default export.

For more info on [name/default export](https://stackoverflow.com/questions/36795819/when-should-i-use-curly-braces-for-es6-import)

[2020-06-19 23:49] lgmg opened #95 "tortilla-master isCheck mismatch"
Bad number in counting incomplete Task
in app.jsx :
    Mismatch between MongoDb "isChecked" key and fliter.
    It should be :
`_.set(filter, 'isChecked', false);`
`incompleteTasksCount: Tasks.find({isChecked: {$ne: true}}).count()`

[2020-06-19 23:52] lgmg opened #96 "tortilla-master : Problem with hide incomplete filter"
When adding a new task, the hide incomplete filter is disabled, it should not.
I don't know where it comes from, it is as if the useState of hideIncomplete variable is re-initialised. is there a problem with the useTracker and useState hook ?

[2020-06-21 18:20] lgmg commented on #96
The problem was not due to the hooks but the events passed to the parent !
In Apps.jsx, preventDefault() has to be added :
`  const handleSubmit = (event) => {
    event.preventDefault();
    if (!text) return;
    Meteor.call('tasks.insert', text.trim());
    setText("");
  };`

[2020-06-21 19:12] Oaksuprem opened #97 "Export default gives an unexpected token error"
![image](https://user-images.githubusercontent.com/38353170/85232972-0681d280-b40c-11ea-9dfb-de5725f1780a.png)
What could be the issue here?

[2020-06-24 13:54] filipenevola commented on #97
Hi, do you have ecmascript package in your app, otherwise add it "meteor add ecmascript"

[2020-06-26 10:39] Mushorwell opened #98 "App only renders background and doesn't render the body - TypeErro: useRef is not a function"
When I load this react todo list, only the background is rendered. In the console there's an uncaught error:

Uncaught TypeError: useRef is not a function
    at useTrackerClient (useTracker.js:108)
    at useTracker.js:206
    at withTracker.jsx:10
    at updateForwardRef (modules.js?hash=d0ac376d4e8b3500476255fd10ca96e2ac007274:17836)
    at beginWork (modules.js?hash=d0ac376d4e8b3500476255fd10c

[2020-07-07 03:42] DanJFletcher opened #101 "Steps 7.1 to 7.3 gets "Access Denied" on all actions"
Following along from 7.1 to 7.3 I am no longer able to make authorized requests even after successfully logging in as the meteorite user.

I ended up having to add this to my `tasks.js` file to get it to work again:

[code]

I'm new to Meteor so I don't know if this is because I'm on a newer version of Meteor than the tutorial originally used but I'm pretty sure I didn't miss any steps along the w

[2020-07-07 03:45] DanJFletcher commented on #95
Also note, that when you add the filter you also have to go into `TaskForm.jsx` and update the insert to be:
[code]

[2020-07-07 03:54] DanJFletcher opened #102 "Step 2.2 is missing `insertTask`"
In 2.2 There is no definition for `insertTask`. I'm assuming there should be:
[code]

[2020-07-25 01:10] williamklingler commented on #102
Can someone please update this in the official docs

[2020-08-02 07:35] chris-tse commented on #102
Could the team provide some clarifications on how to PR updates to the code diffs? According to the [readme in meteor/tutorials](https://github.com/meteor/tutorials) the code snippets are generated via the diffs of the actual commit history of this project. How do we go about "modifying" the older commits?

[2020-08-22 02:23] 2XL commented on #95
same applies for todo:

https://github.com/meteor/simple-todos-react/commit/8336cc4db3007be941de9c109fbbe4960f246831#diff-59d2d4ad0bd8a50144b6d6b30d01ecccR10

[2020-08-26 15:59] bushblade opened #109 "Mistake in Todo App with React Tutorial."
Hi I'm curious about Meteor since hearing about it on a recent Syntax podcast.
I'm just following along the [Todo App with React](https://www.meteor.com/tutorials/react/creating-an-app) but there seems to be an error on the [collections](https://www.meteor.com/tutorials/react/collections) page of the tutorial, unless I'm missing something?
In Step 2.2 where does the `insertTask` function come from

[2020-08-26 17:32] bushblade commented on #109
A quick look in the docs and I guess it should be...
[code]

[2020-09-08 01:57] theranbrig commented on #86
I believe you are talking about when you submit the form.

In this case you need to add prevent default:

I fixed it [here](https://github.com/meteor/simple-todos-react/pull/108).

[2020-09-09 16:45] filipenevola commented on #109
Hey, we are rewriting this tutorial here https://github.com/meteor/react-tutorial

It will be ready soon with all the issues reported fixed.

[2020-09-17 21:44] filipenevola commented on #86
Hey @lindacharlton, thank you for your feedback.

I have incorporated your feedback here in this new repo, the new home of react tutorial.

https://github.com/meteor/react-tutorial/ (https://react-tutorial.meteor.com)

It's PR friendly so if you want to make more changes, go ahead there!

[2020-09-17 21:44] #86 closed, assigned to nobody

[2020-09-17 21:45] filipenevola commented on #109
Hey @bushblade , thank you for your feedback.

I have incorporated your feedback here in this new repo, the new home of react tutorial.

https://github.com/meteor/react-tutorial/ (https://react-tutorial.meteor.com)

It's PR friendly so if you want to make more changes, go ahead there!

[2020-09-17 21:45] #109 closed, assigned to nobody

[2020-09-17 21:45] filipenevola commented on #95
Hey @2XL, @DanJFletcher, @lgmg , thank you for your feedback.

I have incorporated your feedback here in this new repo, the new home of react tutorial.

https://github.com/meteor/react-tutorial/ (https://react-tutorial.meteor.com)

It's PR friendly so if you want to make more changes, go ahead there!

[2020-09-17 21:45] #95 closed, assigned to nobody

[2020-09-17 21:45] filipenevola commented on #102
Hey @DanJFletcher @williamklingler @chris-tse , thank you for your feedback.

I have incorporated your feedback here in this new repo, the new home of react tutorial.

https://github.com/meteor/react-tutorial/ (https://react-tutorial.meteor.com)

It's PR friendly so if you want to make more changes, go ahead there!

[2020-09-17 21:45] #102 closed, assigned to nobody

[2020-09-17 21:46] filipenevola commented on #101
Hey @DanJFletcher , thank you for your feedback.

I have incorporated your feedback here in this new repo, the new home of react tutorial.

https://github.com/meteor/react-tutorial/ (https://react-tutorial.meteor.com)

It's PR friendly so if you want to make more changes, go ahead there!

[2020-09-17 21:46] #101 closed, assigned to nobody

[2020-09-17 21:46] filipenevola commented on #98
Hey @Mushorwell , thank you for your feedback.

I have incorporated your feedback here in this new repo, the new home of react tutorial.

https://github.com/meteor/react-tutorial/ (https://react-tutorial.meteor.com)

It's PR friendly so if you want to make more changes, go ahead there!

[2020-09-17 21:46] #98 closed, assigned to nobody

[2020-09-17 21:46] filipenevola commented on #97
Hey @Oaksuprem , thank you for your feedback.

I have incorporated your feedback here in this new repo, the new home of react tutorial.

https://github.com/meteor/react-tutorial/ (https://react-tutorial.meteor.com)

It's PR friendly so if you want to make more changes, go ahead there!

[2020-09-17 21:46] #97 closed, assigned to nobody

[2020-09-17 21:47] filipenevola commented on #96
Hey @lgmg , thank you for your feedback.

I have incorporated your feedback here in this new repo, the new home of react tutorial.

https://github.com/meteor/react-tutorial/ (https://react-tutorial.meteor.com)

It's PR friendly so if you want to make more changes, go ahead there!

[2020-09-17 21:47] #96 closed, assigned to nobody

[2020-09-17 21:47] filipenevola commented on #94
Hey @jankapunkt , thank you for your feedback.

I have incorporated your feedback here in this new repo, the new home of react tutorial.

https://github.com/meteor/react-tutorial/ (https://react-tutorial.meteor.com)

It's PR friendly so if you want to make more changes, go ahead there!

[2020-09-17 21:47] #94 closed, assigned to nobody

[2020-09-17 21:47] filipenevola commented on #90
Hey @jeffslofish @kakadais @MonilShiv, thank you for your feedback.

I have incorporated your feedback here in this new repo, the new home of react tutorial.

https://github.com/meteor/react-tutorial/ (https://react-tutorial.meteor.com)

It's PR friendly so if you want to make more changes, go ahead there!

[2020-09-17 21:47] #90 closed, assigned to nobody

[2020-09-17 21:48] filipenevola commented on #64
Hey @pihentagy @MarcelWaldvogel , thank you for your feedback.

I have incorporated your feedback here in this new repo, the new home of react tutorial.

https://github.com/meteor/react-tutorial/ (https://react-tutorial.meteor.com)

It's PR friendly so if you want to make more changes, go ahead there!

[2020-09-17 21:48] #64 closed, assigned to nobody

[2020-09-17 21:48] filipenevola commented on #89
Hey @blackslate , thank you for your feedback.

I have incorporated your feedback here in this new repo, the new home of react tutorial.

https://github.com/meteor/react-tutorial/ (https://react-tutorial.meteor.com)

It's PR friendly so if you want to make more changes, go ahead there!

[2020-09-17 21:48] #89 closed, assigned to nobody

[2020-09-17 21:49] filipenevola commented on #87
Hey @FabriceSALAH , I also prefer to use only .js but for now we are keeping jsx as meteor create --react is using it. Thank you for your feedback.

Check the new home of react tutorial.

https://github.com/meteor/react-tutorial/ (https://react-tutorial.meteor.com)

It's PR friendly so if you want to make more changes, go ahead there!

[2020-09-17 21:49] #87 closed, assigned to nobody

[2020-09-17 21:49] filipenevola commented on #66
Hey @andrew128 @qile11 @jeansordes , thank you for your feedback.

I have incorporated your feedback here in this new repo, the new home of react tutorial.

https://github.com/meteor/react-tutorial/ (https://react-tutorial.meteor.com)

It's PR friendly so if you want to make more changes, go ahead there!

[2020-09-17 21:49] #66 closed, assigned to nobody

[2020-09-17 21:50] filipenevola commented on #72
Hey @Rafael-Menis @chidimo , thank you for your feedback.

I have incorporated your feedback here in this new repo, the new home of react tutorial.

https://github.com/meteor/react-tutorial/ (https://react-tutorial.meteor.com)

It's PR friendly so if you want to make more changes, go ahead there!

[2020-09-17 21:50] #72 closed, assigned to nobody

[2020-09-17 21:50] filipenevola commented on #65
Hey @hwang12345 @garfieldnate , thank you for your feedback.

I have incorporated your feedback here in this new repo, the new home of react tutorial.

https://github.com/meteor/react-tutorial/ (https://react-tutorial.meteor.com)

It's PR friendly so if you want to make more changes, go ahead there!

[2020-09-17 21:50] #65 closed, assigned to nobody

[2020-09-17 21:51] filipenevola commented on #31
Hey @tmeasday @orenfromberg @danilopaez @Shelagh-Lewins , thank you for your feedback.

I have incorporated your feedback here in this new repo, the new home of react tutorial.

https://github.com/meteor/react-tutorial/ (https://react-tutorial.meteor.com)

It's PR friendly so if you want to make more changes, go ahead there!

[2020-09-17 21:51] #31 closed, assigned to nobody

[2020-09-17 21:51] filipenevola commented on #62
Hey @Shelagh-Lewins , thank you for your feedback.

I have incorporated your feedback here in this new repo, the new home of react tutorial.

https://github.com/meteor/react-tutorial/ (https://react-tutorial.meteor.com)

It's PR friendly so if you want to make more changes, go ahead there!

[2020-09-17 21:51] #62 closed, assigned to nobody

[2020-09-17 21:52] filipenevola commented on #3
Hey @josoroma @TylerL-uxai , for now we are not going to add route support for this tutorial but we now have a new format which allows us to have multiple tutorials. Thank you for your feedback.

https://github.com/meteor/react-tutorial/ (https://react-tutorial.meteor.com)

It's PR friendly so if you want to make more changes, go ahead there!

Maybe create a new tutorial using routes?

[2020-09-17 21:52] #3 closed, assigned to nobody

[2020-09-17 21:53] filipenevola commented on #23
Hey @mpkliewer @bplus as this tutorial is React only we are not going to mention blaze here, thank you for your feedback.

https://github.com/meteor/react-tutorial/ (https://react-tutorial.meteor.com)

It's PR friendly so if you want to make more changes, go ahead there!

[2020-09-17 21:53] #23 closed, assigned to nobody